@media only screen and (max-width: 1024px) {
  h1,
  h2,
  h3 {
    font-size: 90px;
  }
  .main-section,
  .project-section {
    padding: 0px 20px;
  }
  .cris-img {
    max-width: 400px;
  }
  .header {
    padding-right: 20px;
  }

  .about-text {
    font-size: 18px;
    left: 60%;
    line-height: 25px;
    max-width: 40%;
    margin-right: 20px;
  }

  /* cards */

  .card {
    width: 17rem;
  }
}

@media only screen and (max-width: 768px) {
  .main-section,
  .project-section {
    padding: 0px 15px;
  }

  h1,
  h2,
  h3 {
    font-size: 40px;
  }

  .header {
    font-size: 11px;
    padding-right: 25px;
    justify-content: space-between;
  }

  header > p {
    margin: 0;
    margin-left: 15px;
  }
  .cris-img {
    max-width: 180px;
    margin-left: 0;
  }

  .about-text {
    width: 40%;
    font-size: 10px;
    line-height: 15px;
  }

  .arrow {
    top: 80%;
    font-size: 15px;
  }

  .projects-text {
    font-size: 30px;
  }

  /* cards */

  .card {
    width: 12rem;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
  }

  .card img {
    height: 7.5rem;
  }

  .container {
    font-size: 11px;
  }

  /* footer */
  footer {
    font-size: 10px;
    padding: 8px 15px;
    justify-content: right;
  }
  .social-links .fa-linkedin {
    margin: 0;
  }

  .social-links,
  .footer-links {
    margin-right: 15px;
  }
}
