* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #3d3434;
  background-color: #ecebe8;
  scroll-behavior: smooth;
}

.main-section {
  height: 100vh;
}

.project-section {
  min-height: 85vh;
}

.main-section,
.project-section {
  padding: 0px 45px;
}

h1,
h2 {
  font-size: 130px;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  float: right;
  margin-top: 20px;
}

h3 {
  font-size: 100px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}
header {
  font-weight: 400;
  display: flex;
  padding: 15px 0;
  padding-right: 45px;
}

header > p {
  margin: 0 auto;
}

.work-link {
  margin-right: 15px;
}

.header-links a {
  text-decoration: none;
  position: relative;
}

.header-links a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3d3434;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.header-links a:hover:after {
  transform: scaleX(1);
}

.block-text {
  font-weight: 500;
  display: block;
  margin-top: 0;
}

.cris-img {
  max-width: 480px;
  margin-top: 20px;
  margin-left: 10px;
}

.left-side,
h2 {
  line-height: 0.9;
}

.right-side {
  position: relative;
  height: 30px;
}

.about-text {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 0px;
  font-size: 22px;
  max-width: 27%;
  text-align: justify;
}

.arrow {
  display: flex;
  position: absolute;
  top: 85%;
  gap: 30px;
}

.projects-text {
  margin-top: -30px;
  font-family: "Parisienne", cursive;
  font-size: 40px;
}

/* cards */

.cards {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 0;
  background-color: #fff;
}

.card img {
  height: 15rem;
  object-fit: cover;
}

h4 {
  font-weight: 500;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.card a {
  background-color: #fff;
}

.container > p,
.container > h4 {
  background-color: #fff;
  padding: 7px 16px;
}

/* footer */

footer {
  padding: 14px 45px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 30px;
  justify-content: right;
  text-transform: uppercase;
}

.footer-links a {
  text-decoration: none;
}

.social-links .fa-linkedin {
  margin-right: 20px;
}

.footer-links,
.social-links i {
  transition: transform 0.3s ease-in-out;
}

.footer-links:hover,
.social-links i:hover {
  transform: scale(0.92);
  opacity: 90%;
}
